<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/fotoku.jpg"
        alt="Muhamad Isro Sabanur"
        class="img-thumbnail rounded-circle"
        width="150"
      />
      <h1 class="display-4">Muhamad Isro Sabanur</h1>
      <p class="lead">Alumni | Teknik Elektro</p>
    </div>
  </div>
</div>
